#calculator{
  margin: 0 auto;
  height: auto;
  width: 400px;
  backround-color:  aqua;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  
  
}
#indicator{
  text-aling: center;
  padding: 10px 0px 0px;
  
}
#output{
  border: 2px solid;
  paddinf: 10px;
  border-radius: 10px;
  width: %80; 
  word-wrap: break-word;
  font-size:30px;
  
}
#buttons{
  
}
button{
  width: 80px;
  height: 50px;
  margin:4px;
  border-radius:5px;
  background-color : bisque;
  outline: none;
  
}
